/* Bootstrap-based filter panel styles */
@use './../../styles/variable.scss' as *;

.ag-filter-panel {
  .card-header {
    background-color: $data-table-header-bg !important;
    border-color: $data-table-border;
  }

  .card-body {
    max-height: 480px;
    overflow-y: auto;
    background: #f6f6f6;
  }

  .spinner {
    border: 2px solid $data-table-border;
    border-top: 2px solid $data-table-primary;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}